.clearfix, .card--info {
  overflow: auto;
  zoom: 1; }

body {
  font-family: Verdana; }

h1 {
  margin: 0; }

.card {
  width: 577px;
  height: 391px;
  background-color: #333333; }
  .card--nav {
    padding: 10px;
    font-size: 0.7rem; }
  .card--nav-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #888; }
    .card--nav-item:hover {
      color: #5ebaeb; }
    .card--nav-item:hover::after {
      color: #888; }
  .card--nav-item::after {
    margin: 0 0 0 4px;
    content: "|"; }
  .card--nav-item:nth-child(4) {
    text-transform: none; }
  .card--nav-item:nth-last-child(2)::after, .card--nav-item:last-child::after {
    content: "";
    margin: 0; }
  .card--nav-item:last-child {
    margin: 0 0 0 80px; }
  .card--info {
    padding: 0 14px; }
  .card--add--button {
    height: 44px;
    width: 40px;
    background-color: #5b5b5b;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 6px 0 0;
    float: left; }
  .card--title-box {
    float: left;
    width: 410px;
    margin: 0 0 0 10px; }
  .card--title {
    color: white;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0 0 4px; }
  .card--title-small {
    color: #888;
    font-size: 1rem; }
  .card--meta {
    color: #888;
    font-size: 0.7rem; }
  .card--images {
    padding: 14px; }
